/.web-server-pid
/app/config/parameters.yml
/app/config/config_prod.yml
/app/config/config_dev.yml
/app/config/config_test.yml
/app/config/config.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
.idea/pgde.iml
.idea/workspace.xml
/.idea/workspace.xml

