{% extends 'base.html.twig' %}

{% block demande_content %}
    <!-- WRAPPER -->
    <div id="wrapper" class="wrapper">
        <!-- TOP BAR -->
        {% block topbar %}
        {% include '@PgdeEmploi/partials/topbar.html.twig' %}
        {% endblock %}
        <!-- END TOP BAR -->
        <!-- LEFT SIDEBAR -->
        {% block sidebar %} {% endblock %}

        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT WRAPPER -->
        <div id="main-content-wrapper" class="content-wrapper expanded-full">

            {% block second_menu %}
                {% include '@PgdeEmploi/partials/secondmenu.html.twig' %}
            {% endblock %}

            <!-- main -->
            <div class="content">
                <div class="main-content">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <!-- /main -->
            <!-- FOOTER -->
            {% include('@PgdeEmploi/partials/footer.html.twig') %}
            <!-- END FOOTER -->
        </div>
        <!-- END CONTENT WRAPPER -->
    </div>
    <!-- END WRAPPER -->
{% endblock %}