{% extends 'base.html.twig' %}

{% block demande_content %}
    <!-- WRAPPER -->
    <div id="wrapper" class="wrapper">
        <!-- TOP BAR -->
        {#{% block topbar %} {% endblock %}#}
        <!-- END TOP BAR -->
        <!-- LEFT SIDEBAR -->
        {% block sidebar %} {% endblock %}

        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT WRAPPER -->
        <div id="main-content-wrapper" class="content-wrapper expanded-full">
            {% block big_menu %}
                {% include '@PgdeEmploi/partials/big_menu.html.twig' %}
            {% endblock %}
            <!-- top general alert -->
            {#{% block alert_message %}#}
            {#{% include '@PgdeEmploi/partials/alert_message.html.twig' %}#}
            {#{% endblock %}#}


            {% block second_menu %} {% endblock %}

            <!-- main -->
            <div class="content">
                <div class="main-content">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <!-- /main -->
            <!-- FOOTER -->
            <footer class="footer">
                {#<div class="col-sm-6">#}
                    {#<iframe src="https://www.w3schools.com/"></iframe>#}
                    {#<p>#}
                        {#<a class="btn btn-lg btn-primary" href="http://www.fonctionpublique.gouv.sn/">#}
                            {#<i class="fa fa-undo fa-3x pull-left"></i> Retourner au<br/>#}
                            {#<small>site du ministère</small>#}
                        {#</a>#}
                    {#</p>#}
                {#</div>#}
                {#<div class="col-sm-6">#}
                    Copyright © 2017 Ministére de la Fonction Publique, de la Rationnalisation des Effectifs et du
                    Renouveau du Service Public - Tous droits réservé
                {#</div>#}
            </footer>
            <!-- END FOOTER -->
        </div>
        <!-- END CONTENT WRAPPER -->
    </div>
    <!-- END WRAPPER -->
{% endblock %}