{% extends 'base.html.twig' %}
{% block security_content %}
    <div class="wrapper full-page-wrapper page-auth page-login text-center">
        <div>
            {% include '@PgdeEmploi/partials/alert_message.html.twig' %}
        </div>

        <div class="inner-page" style="padding-top: 0px">
            <div class="col-sm-4">
                {% block link_inscription %} {% endblock %}
                <div class="login-box center-block" style="margin: 0px; width: 100%">
                    {% block fos_user_content %} {% endblock %}
                    <div class="links">
                        <p><a href="{{ path('fos_user_resetting_request') }}">J'ai oublié mon mot de passe</a></p>
                        <p><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">

            </div>
        </div>
    </div>
{% endblock %}