{% extends '@PgdeEmploi/Page/error.html.twig' %}

{% block error_type %}
    <div class="inner-page">
        <h1>
				<span class="clearfix title">
					<span class="number"></span> <span class="text">Oops! <br/>Site en maintenance</span>
				</span>
        </h1>
        <p>Ce site a été désactivé car il est en cours de maintenance.</p>

        <p> Il sera rétabli dans les meilleurs délais</p>
        <p> Merci de votre patience et de votre compréhension.</p>
        <div>
            <a href="http://www.fonctionpublique.gouv.sn/" class="btn btn-primary"><i class="fa fa-home"></i> Site du ministère</a>
        </div>
    </div>
{% endblock %}