/*Form step*/
body {
    background-color: #ffffff;
}

.stepwizard-step p {
    margin-top: 0px;
    color: #666;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity: 1 !important;
    color: #bbb;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.panel .panel-heading {
    background-color: #1e88f5;
    color: #ffffff;
}

.panel .panel-body {
    background-color: #ffffff;
}

.btn-success {
    background-color: #ff9900;
    border-color: #ea8700;
    color: #ffffff;
}

.btn-default {
    /*background-color: #F2F2F2;*/
    /*border-color: #bfbfbf;*/
    color: #ffffff;
}

/*.btn .btn-body {*/
/*background-color: #ffffff;*/
/*}*/

.top-content ul.quick-access > li .quick-access-item.bg-color-blue {
    background-color: #1e88f5;
}

.top-content ul.quick-access > li .quick-access-item.bg-color-orange {
    background-color: #ff9900;
}

/*GRITTER BGCOLOR*/
.gritter-item-wrapper > div {
    background: #1e90ff;
}

.gritter-item .gritter-close {
    /*content: "\f00d";*/
    /*font-family: FontAwesome;*/
    background: url("../assets/img/clear.png") no-repeat center;
}

.grid {
    /* // position: relative; <- remove !!! */
    display: block;

    background: url("http://res.cloudinary.com/dpdwdstqt/image/upload/v1525458838/hearder.png")
    no-repeat fixed center;
    background-size: cover;
}

.contentt {
    display: block;
    vertical-align: top;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
}

.grid h3 {
    /*   // position: absolute; <- remove !!!
      // float: right; <- remove !!! */
    display: inline-block;
    vertical-align: center;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.grid img {
    /* // position: absolute; <- remove !!! */
    /* float: left; */
    display: inline-block;
    vertical-align: bottom;
    /* margin: 0 auto; */
    padding: 20px;
}

.page-auth .center-block {
    background-color: #ffffff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.page-auth .center-block:hover {
    background-color: #f1f1f1;
    opacity: 0.9;
}



/*.video-intro:hover {*/
/*-webkit-filter: grayscale(100%); !* Safari 6.0 - 9.0 *!*/
/*filter: grayscale(100%);*/
/*}*/

.panel-step {
    padding: 40px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.panel-step:hover {
    background-color: #f1f1f1;
    opacity: 0.9;
}

/*icon sur les input*/
.input-group-addon i {
    color: #1e88f5;
}

.setup-content {
    border:none;
}

.btn-primary-theme {
    /*background-color: #1e88f5;*/
    opacity: 0.7;
    color: #666;
}