<div class="alert alert-info top-left" style="margin-top: 1em">
    <span style="font-size: 17px">
        Les demandes d'emploi dans la fonction publique
        <strong> sont exclusivement reçues à travers cette plateforme.</strong>
        <br>
        Tout autre dossier envoyé par email
        <strong> sera classé sans suite.</strong>
    </span>
    <button type="button" class="close">&times;</button>
</div>