<div class="alert alert-info top-left" style="margin-top: 1em">
    <span style="font-size: 17px">
        {#Les demandes d'emploi dans la fonction publique#}
        {#<strong> sont exclusivement reçues à travers cette plateforme.</strong>#}
        {#<br>#}
        {#Tout autre dossier envoyé par email#}
        {#<strong> sera classé sans suite.</strong>#}
        Dans le cadre de la mise en ligne de la nouvelle Plateforme de Gestion des Demandes d’Emploi (PGDE) <strong>tous les mots de passe ont été réinitialisés</strong>. <br>

        Par conséquent, avant de pouvoir se connecter veuillez d’abord cliquez sur <strong> « J’ai oublié mon mot de passe » </strong> pour choisir un nouveau mot de passe.
    </span>
    <button type="button" class="close">&times;</button>
</div>