<div class="top-content">
    <ul class="list-inline quick-access">
        <li>
            <a href="{{ path('fos_user_change_password') }}">
                <div class="quick-access-item bg-color-blue">
                    <i class="fa fa-exchange"></i>
                    <h5>COMPTE</h5><em>Changer mon mot de passe</em>
                </div>
            </a>
        </li>
        <li>
            <a href="{{ path('fos_user_security_logout') }}">
                <div class="quick-access-item bg-color-green">
                    <i class="fa fa-sign-out"></i>
                    <h5>COMPTE</h5><em>Se deconnecter</em>
                </div>
            </a>
        </li>
    </ul>
</div>