<footer class="footer" style="padding: 40px">
    <div class="col-sm-6">
        <a style="padding: 1em" href="http://www.fonctionpublique.gouv.sn/" class="btn btn-success"> <i class="fa fa-chevron-circle-left"></i> Retour au site du Ministère </a>
    </div>
    <div class="col-sm-6">
        Ministère de la Fonction publique, de la Rationalisation des Effectifs et du Renouveau du Service public - © {{  '' | date('Y') }}
    </div>
</footer>