{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block sonata_admin_content %}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum id magnam soluta suscipit voluptatem? Dicta, dignissimos dolorem, dolorum, et fuga fugit illum in laboriosam neque provident quam suscipit voluptatibus.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorem doloribus est eveniet exercitationem illo, incidunt laboriosam magni maxime minima molestiae natus, necessitatibus nesciunt quia, quisquam sapiente sunt tenetur voluptatibus?
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid consequatur cupiditate deleniti, dolor eaque eum, eveniet, expedita harum incidunt minima nulla praesentium quidem ratione reiciendis rem tempora temporibus ullam?
    </p>
{% endblock %}