{% extends 'base.html.twig' %}
{% block security_content %}
    <div class="wrapper full-page-wrapper page-auth page-login text-center">
        <div>
            {% include '@PgdeEmploi/partials/alert_message.html.twig' %}
        </div>
        <div class="inner-page" style="padding-top: 0px">
            <div class="col-sm-4">
                {% block link_inscription %} {% endblock %}
                <div class="login-box center-block">
                    {% block fos_user_content %}

                        <p>
                            {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                        </p>
                        <p>
                            Un e-mail a été envoyé. Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe.
                            Remarque : Vous ne pouvez demander un nouveau mot de passe que toutes les 2 heures.

                            Si vous ne recevez pas un email, vérifiez votre dossier spam ou essayez à nouveau.
                        </p>

                    {% endblock %}
                    <div class="links">
                        <p><a href="{{ path('fos_user_resetting_request') }}">J'ai oublié mon mot de passe</a></p>
                        <p><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">

            </div>
        </div>
    </div>
{% endblock %}

{% extends "@PgdeEmploi/Page/security.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

