{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block security_content %}
    <div class="wrapper full-page-wrapper page-auth page-login text-center">
        {#<div>#}
            {#{% include '@PgdeEmploi/partials/alert_message.html.twig' %}#}
        {#</div>#}
        <div class="inner-page" style="padding-top: 40px">
            {% block link_inscription %} {% endblock %}
            <div class="login-box center-block gray-bg" style="width: 50%">
                {% block fos_user_content %}

                    <div class="contextual-summary-info text-center contextual-background">
                        <i class="fa fa-envelope" style="color: #ff9900"></i>
                        {#<p class="pull-right"><span>SUCCESS</span> 35</p>#}
                        <p style="text-align: left; padding-top: 20px;" class="lead black-font">
                            Un e-mail contenant un lien de réinitialisation de votre mot de passe vous a été envoyé.<br>
                            Merci de verifier dans les spams si vous n'avez pas reçu l'e-mail. <br>
                        </p><p style="text-align: left; padding-top: 20px" class="lead black-font">
                            <u>Remarque:</u> Vous ne pouvez demander un nouveau mot de passe que toutes les 2 heures.
                        </p>
                        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-lg"> Retour à l'accueil</a>
                    </div>

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

